.theme-menu__button:disabled:before {
  animation: slide-left 0.5s ease-in-out infinite alternate;
}

.like-icon.is-liked .core {
  fill: var(--accent-color-heart, #FF0000);
  animation: colored 0.3s ease-in-out;
}

.like-icon.is-liked .main-body {
  fill: var(--accent-color-heart, #FF0000);
  animation: colored 0.3s ease-in-out 0.06s;
}

.like-icon.is-liked .contour {
  fill: var(--accent-color-heart, #FF0000);
  animation: colored 0.3s ease-in-out 0.06s;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s ease-in 1 alternate 0.1s;
} 

.like-icon.is-liked .sparks {
  animation: appearance 0.3s ease-in 1 alternate 0.3s;
} 

.dialog {
  animation: appearance  0.5s linear 1;
}

@keyframes slide-left {
  0% {
    left: -19px;
  }
  100% {
    left: -15px;
  }
}

@keyframes colored {
  0% {
    fill: var(--color-svg);
  }
  100% {
    fill: var(--accent-color-heart);
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
  100% {
    transform: scale(1.5);
    transform-origin: 50% 50%;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}