:root.theme-light {
  --color-svg: oklch(100% 0 0);
  --button-span: oklch(100% 0 0);
  --accent-color-heart: oklch(62.8% 0.25768330773615683 29.2338851923426);
  --contour-color: var(--main-color, #000);
  --label-color: oklch(100% 0 0);
  --background-color: oklch(100% 0 0);
  --main-color: oklch(0% 0 0);
  --main-text: 'Inter-Variable';
  --accent-text: 'Press Start 2P';
  --main-weight: 400;
  --title-weight: 700;
  --gradient-right: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px);
  --gradient-bottom: repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px);
  --gradient-color: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

:root.theme-dark {
  --color-svg: oklch(0% 0 0);
  --button-span: oklch(73.27% 0.24586274618222947 142.91919814207418);
  --accent-color-heart: oklch(62.8% 0.25768330773615683 29.2338851923426);
  --contour-color: var(--main-color, #00CC14);
  --label-color: oklch(0% 0 0);
  --background-color: oklch(0% 0 0);
  --main-color: oklch(73.27% 0.24586274618222947 142.91919814207418);
  --main-text: 'Inter-Variable';
  --accent-text: 'Press Start 2P';
  --main-weight: 465;
  --title-weight: 785;
  --gradient-right: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px);
  --gradient-bottom: repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px);
  --gradient-color: linear-gradient(to bottom, #007f0c 0.01%, #004306);
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-svg: oklch(0% 0 0);
  --button-span: oklch(73.27% 0.24586274618222947 142.91919814207418);
  --accent-color-heart: oklch(62.8% 0.25768330773615683 29.2338851923426);
  --contour-color: var(--main-color, #00CC14);
  --label-color: oklch(0% 0 0);
  --background-color: oklch(0% 0 0);
  --main-color: oklch(73.27% 0.24586274618222947 142.91919814207418);
  --main-text: 'Inter-Variable';
  --accent-text: 'Press Start 2P';
  --main-weight: 465;
  --title-weight: 785;
  --gradient-right: repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px);
  --gradient-bottom: repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px);
  --gradient-color: linear-gradient(to bottom, #007f0c 0.01%, #004306);
  }
}